<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_tag('/users', :class => :new_user, :method => :post, :id => :new_user) do %>
      <%= render 'fields' %>
      <%= submit_tag "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>
